{% extends "base.html" %}
{% load static %}

{% block title %}Home - Rewindify{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'password_change' %}">Password Change</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

{% else %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="jumbotron bg-info text-white text-center">
        <h1 class="display-4 text-primary">Rewindify</h1>
        <p class="lead text-warning">Hear the past, Listen for the future</p>
        <hr class="my-4">
        <div class="d-flex align-items-center justify-content-center mb-3">
            <img src="{% static 'myappp/images/spotify.png' %}" alt="Spotify Logo" style="height: 30px; margin-right: 10px;">
            <a href="https://www.spotify.com" class="btn btn-success" style="color: white; margin: 0; padding: 0; height: 30px; display: flex; align-items: center; text-decoration: none;">A Spotify Wrapped App</a>
        </div>

        <!-- Align buttons in a single row with spacing -->
        <div class="d-flex justify-content-center">
            <!-- Redirect to login page -->
            <a href="{% url 'login' %}" class="btn btn-primary mx-2">Sign In</a>

            <!-- Redirect to signup page -->
            <a href="{% url 'signup' %}" class="btn btn-secondary mx-2">Sign Up</a>

        </div>
    </div>
</div>
    
{% endif %}

{% endblock %}
